<section id="experience">
    <h2>Work <span>Experience</span></h2> 
    <div class="timeline">
        <div class="outer">
          <div class="card">
            <div class="info"> 
              <h3 class="title">Socios.com</h3>
              <p class="time">Jul 2022 - Present · 5 mos</p>
              <p>Work on both mobile and web app for the fan token company.<br> Tech stack: Nativescript, Vuejs, Webpack, Jest tests, Redux-observables, RxJs, Swift, React-Native and React.</p>
            </div>
          </div>
          <div class="card"> 
            <div class="info">
              <h3 class="title">Capgemini</h3>
              <p class="time">2yrs 6 mos</p>
              <p>Vue.js ecosystem development for client Carrefour (banking and finance sector), involving reusable components, Storybook, HTML, CSS, ES6, Typescript and testing with Jest and vue-test-utils.
                <br>
                Back-end: Microservices, Java Spring Boot, Gradle, MySQL.
                
                Jenkins, Openshift, GKE, Kubernetes, Git.</p>
            </div>
          </div>
          <div class="card"> 
            <div class="info">
              <h3 class="title">Billy Bob</h3>
              <p class="time">1yrs 1 mo</p>
              <p>SPA development and maintenance using Vue.js, Sass, HTML and Vuetify.</p>
            </div>
          </div>
        </div>
      </div>
</section>