<section id="skills" class="skills"> 
    <h2>My <span>Skills</span></h2> 
    <div class="skills__container">  
        <img class="skills__container--icon" src="assets/images/js.svg" alt="javascript">
        <img class="skills__container--icon" src="assets/images/figma.svg" alt="figma"> 
        <img class="skills__container--icon" src="assets/images/ts.svg" alt="typescript"> 
        <img class="skills__container--icon" src="assets/images/html.svg" alt="html"> 
        <img class="skills__container--icon" src="assets/images/react.svg" alt="react">
        <img class="skills__container--icon" src="assets/images/git.svg" alt="git">
        <img class="skills__container--icon" src="assets/images/vue.svg" alt="vue"> 
        <img class="skills__container--icon" src="assets/images/css.svg" alt="css"> 
        <img class="skills__container--icon" src="assets/images/webpack.svg" alt="webpack"> 
    </div>
</section>