@use "sass:color";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$primary-color: rgb(243, 195, 39);
$secondary-color: black;
$background-color: #fff;

$mqMinWidth: 420px;
